:root {
  --main-color: #2e557c;
  --second-color: #381010;
  --third-color: #334e30;
  --fourth-color: #7e7863;
  --fifth-color: #ad7d37;
  --sixth-color: #ffe81f;
  --main-font-family: "Star Wars", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--main-font-family);
}

body,
h1 {
  margin: 0;
}

body {
  padding: 20px;
  background-color: var(--main-color);
}

ul {
  list-style: none;
}
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__title {
  font-size: 80px;
  color: var(--second-color);
  -webkit-text-stroke: 1px black;
  text-shadow:
    3px 3px 0 #ffe81f,
    -1px -1px 0 #ffe81f,
    1px -1px 0 #ffe81f,
    -1px 1px 0 #ffe81f,
    1px 1px 0 #ffe81f;
  letter-spacing: 0.35rem;
}

.button__delete-mass {
  border: 1px solid #381010;
  background-color: #334e30;
  font-size: 20px;
  font-family: var(--main-font-family);
  color: #ffe81f;
  padding: 30px 20px;
  border-radius: 10px;
  gap: 40px;
  margin: 1rem;
}
