:root {
  --main-color: #2e557c;
  --second-color: #381010;
  --third-color: #334e30;
  --fourth-color: #7e7863;
  --fifth-color: #ad7d37;
  --sixth-color: #ffe81f;
  --main-font-family: "Star Wars", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--main-font-family);
}

body,
h1 {
  margin: 0;
}

body {
  padding: 20px;
  background-color: var(--main-color);
}

ul {
  list-style: none;
}
