:root {
  --main-color: #2e557c;
  --second-color: #381010;
  --third-color: #334e30;
  --fourth-color: #7e7863;
  --fifth-color: #ad7d37;
  --main-font: Georgia;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
}

body,
h1 {
  margin: 0;
}

ul {
  list-style: none;
}
